*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 

}

body{ background-color: #68829e;}
nav{ display: flex; justify-content: space-around; align-items: center; min-height: 8vh; background-color:	#68829e; font-family: 'Poppins', sans-serif;}
.logo{ color: rgb(226, 226, 226); text-transform: uppercase; letter-spacing: 5px; font-size: 20px;}
.nav-links{display: flex; justify-content: space-around; width: 30%; list-style: none; }

.nav-links a{color: rgb(226, 226, 226); text-decoration: none; font-weight: bold; font-size: 14px;}

.nav-links li{ padding: 2px; }

.burger{ display: none; cursor: pointer; list-style: none; }

.burger div{ width: 25px; height: 3px; background-color: rgb(226, 226, 226); margin: 5px; transition: all 0.3s ease;}

.startsidabild img{ width:100%; height:700px; }

.startsidatext { position: absolute; top: 150px; left: 50%; transform: translate(-50%, -50%);  font-size: xx-large; font-family: 'Poppins', sans-serif; color: white; font-weight: bold;}

#grupptextpresentation{ color: white }
.tdpic{ width: 30%; }
.textpic{ color: white;  font-family: fantasy;  align-items: center; }

.heading{ font-size: 60px; color: white; }

.heading{ font-style: italic; font-size: 30px; margin-left: 350px; margin-top: 50px; }

.profiler{ float: left; justify-content: space-around; margin: 20px 80px; }

.profil{ flex-basis: 260px; }
.profil .profil-img {height: 100px; width: 100px; border-radius:50%; filter: grayscale(100%); cursor: pointer; transition: 400ms;}
.profil:hover .profil-img{ filter: grayscale(0);}
.textomoss{ margin-top: 50px; margin-left: 150px; float: left; }

#tablepic{ margin-top: 100px;  margin-left: 100px;}

#gruppsida{ background: black; }

#grupptextpresentation{ color: white;  font-family: fantasy;}


.rubrik{border: solid black; margin-bottom: 0.2cm;}
img.portrait{ width: 250px; height: 250px; margin-top: 0.2cm; margin-left: 0.2cm;  border-style: solid; border-color: black; float: left;}
.portrait{overflow: hidden;}
.showButton{position: absolute;margin: 0.2cm; font-size: 2cm;  font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #68829e; }
.showButton:hover{ background-color: white; color:#68829e ; }

.ommigtext{margin-top: 0;font-family: 'Josefin Sans', sans-serif; padding: 10px; }

.bottomlinks{position: absolute; bottom: 0px; margin-left: 480px;}
.links{color:black; text-decoration-line: none; padding: 2px; list-style: none; } 
.links:hover{font-size: 1.1em;}

img.stapel{ width: 200px; height: 200px; margin-top: 40px; float: left; margin-left: 7px; border: solid black;}
div.minakompetenser{display: inline-block; text-align: center; display: none;  }


body.bgpage{background-color:#68829e;}
.projekttext{text-align: center; margin-top: 6%; margin-bottom: 1em;}
#bilder{position: relative; height: 300px; margin-left: 36%;margin-bottom: 1em; list-style: none;}
.bild{ position: absolute; top: 0px; width: 100%; -webkit-transition: opacity 1s; -moz-transition: opacity 1s; -o-transition: opacity 1s; transition: opacity 1s;}
.first{ opacity: 1; z-index: 1;}
img.slidepic{ height: 300px; width: 400px; border: solid black; }
button.controls{background-color: #68829e; color: black; font-weight:bolder; font-size: 15px; margin-top: 2px;  margin-left: 36%; }
button.controls:hover{color: white;}

#submitBtn{margin-left: 100px;}

#map{ height: 300px; width: 50%; float: left;}


@media screen and (max-width: 1024px)
{
    .nav-links{ width: 60%;}
}
@media screen and (max-width: 768px)
{
    body{ overflow-x: hidden;}
   
   .nav-links{ 
       position: absolute;
       right: 0px;
       height: 92vh;    
       top: 8vh;
       background-color: #68829e;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 40%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
   }

   .links:hover{ font-size: 1.1em; cursor: pointer;}
    .nav-links li{ opacity: 0; }
   
    .burger{ display: block; }
    .nav-active{ transform: translateX(0%); }

    .startsidabild img{ width: 100%; }
    
    .startsidatext { position: absolute; top: 100px; left: 150px; font-size: large; font-family: 'Poppins', sans-serif; color: white;} 

    .heading{ visibility: hidden; }
    
    .tdpic{float: left; width: 100%;}
    .textpic{ color: white; font-size: x-small; 
    }
    #tablepic{ margin-top: 0px;}
    .textomoss{ display: inline-table; width: 80%; margin-top: -10px; margin-left: 60px; font-size: x-small;}
         
    .bottomlinks{position: absolute; bottom: 0px; margin-left: 30px;}
     
    #bilder{margin-left: 10%; }
    button.controls{ margin-left: 10%; }

    #form_meddelande{width: 80%;}
    #felmeddelandenamn{font-size: x-small; color: red; }
    #felmeddelandeepost{font-size: x-small; color: red; }
    #felmeddelandetelefon{font-size: x-small; color: red; }
    #felmeddelandemeddelande{font-size: x-small; color: red; }

    #map{ height: 300px; width: 65%; float: left; margin-top: 5px;}
    
    .hittaoss{ margin-top: 20px;}
   
    .kontakt{ margin-top: 30px;} 
}

@keyframes navLinksFade{
    from{ opacity: 0; transform: translateX(50px);}
    to{opacity: 1;transform: translateX(0px); }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
   opacity: 0;
    
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}